<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
         
    <h3>Posts by {{ users.name }}</h3>
    
    
    <h3>Count {{quotes.count}}</h3>
    <h3>Quotes:</h3>
    {% for quote in quotes %}
    <div>
        <h4>{{quote.author}}</h4>
        <p>{{quote.quote}}</p>
    </div>
    {% endfor %}
    
    <a href="/logout">Logout</a>
    <a href="/quotes">Dashboard</a>
    
</body>
</html>